.button {
    -fx-padding: 3 10 3 10;
    -fx-background-color: linear-gradient(#ffebcd, #deb887);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.list-cell {
   -fx-padding: 3 3 3 3;
   -fx-background-color: yellow;
 }

 .list-cell:odd {
    -fx-background-color: grey;
  }

  .list-cell:even {
    -fx-background-color: lightgrey;
  }

.control-panel {
    -fx-background-color: #708090;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.unitPanel{
    -fx-background-color: #FFFFF0;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.unit {
    -fx-stroke-width: 2.5;
    -fx-stroke-dash-array: 10 10;
    -fx-opacity: 1;
}

.hidden {
    -fx-opacity: 0.5;
}

.tower {
    -fx-stroke-width: 3;
}

.cell {
    -fx-background-color: #fff5ee;
    -fx-border-color: gray;
    -fx-border-width: 1px
}

.cell:hover {
    -fx-border-color: black;
    -fx-border-width: 2px
}

.ready {
    -fx-stroke-width: 2.5;
    -fx-stroke-dash-array: 1 0;
}

.selected {
    -fx-stroke-width: 3;
}

.canBeSelected {
-fx-background-color: #DAA520;
    -fx-border-width: 2px;
    -fx-stroke-width: 10;
}

.unitSelector {
   -fx-border-color: lightgrey;
   -fx-border-width: 4px;
}